 <html>
 <body>
 <form>
    <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src = 'https://code.jquery.com/jquery-3.6.0.min.js'></script>

     <table class="tablesecond">
            <thead>
              <th>s.no</th>
              <th>username</th>
              <th>feedback</th>

            </thead>

             <tbody id="tbody2">
<!--             <script src="fetch.js"></script>-->
<!--             <script>retrieve(this);</script>-->

              <tr>

                  <td> </td>
              </tr>

             </tbody>
        </table>

    <button type="submit" formaction="/filter" formmethod="post">show</button>

 </form>
 </body>
 </html>
